// font size
$mainTitle: 21px;
$bookTitle: 14px;
$dropdownSize: 13px;
$dropdownSmallSize: 9px;
$quote: 12px;
$author: 11px;


// colors

$primaryColor: #767676;
$bookColor: #333333;
$titleColor: #616161;
$coverBorder: #B2BFBD;
$lightGreen: #D1F5F0;
$lightBlue: #B3E9EF;
$dropdown: #404040;
$dropdownSelected: #4A4A4A;
$bodyColor: #F5F5F5;
$whiteColor: #fff;
$borderColor: #E5E5E5;
$likesDropdown: #0098C7;